@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

.font-ubuntu {
font-family: 'Ubuntu', sans-serif;
}
code {
  font-family: monospace;
}
.menu #myMenu {
  display: none;
}
.bg {
  background-image: url('/assets/batik.jpg');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  font-size: 1.8rem;
 }
h2 {
  font-size: 1.6rem;
 }
h3 {
  font-size: 1.4rem;
}
h4 {
   font-size: 1.2rem;
}
h1,h2,h3 {
    padding-top: 1.5rem;
   padding-bottom: 1rem;
  }
