@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

.font-ubuntu {
font-family: 'Ubuntu', sans-serif;
}
.menu #myMenu {
  display: none;
}
.bg {
  background-image: url('/assets/batik.jpg');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
